.top-info{
    background-color: rgb(38, 38, 168);
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    
    
    
   
    p{
        color: white;
        padding: 3px;
        font-size: 15px;
        
    }
    .second-p{
        font-weight: bolder;
        
    }
}